/* HTML Element Styles */
@font-face {
    font-family: 'Porter';
    src: url('../fonts/porter-sans-inline-block.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html, body, * {
    padding: 0;
    margin: 0;
}
html {
    width: 100%;
    height: 100%;
    position: absolute;
}
a {
	text-decoration: none;
}
.center-mic {
      position: absolute; margin: auto; float: none; left: 50%; width: 100px; height: 100px; font-size: 70px;
      color: cadetblue;
      top: 20%;
      background: floralwhite;
      border-radius: 100%;
}
.wide {
  width:100%;
  height:450px;
  background-image:url('../images/bg.png');
  background-size:cover;
}
.wide img {
    margin-top: 100px;
  width:100%;
}
.logo {
    font-family: "Porter";
    font-size: 20px;
}
.headline {
	font-size: 4em;
}
.bg-teal {
	background: #009688;
}
.bg-purple {
	background: #673ab7;
}
.bg-blue {
	background: #03a9f4;
}
.section {
	min-height: 400px;
	width:100%;
}
.feature-icon {
	position:absolute;
	height: 85px;
	width: 85px;
	font-size: 55px;
	top: -45px;
  	left: -30px;
}
.pillar {
	background:  #009587;
	min-height: 900px;
	height:100%;
	color:#fff;
	float:left;
}
.setting {
	font-family: 'Helvetica';
	color:#fff;
	font-size: 20px;
	margin: 10px;
}
.big_icon {
    font-size: 25px;
}
.spaced{
	margin: 25px;
}
.stop {
    margin-top:10px;
    display:inline-block;
}
/* Social Sharing */
.btn-twitter {
    background: #00acee;
    border-radius: 0;
    color: #fff
}
.btn-twitter:link, .btn-twitter:visited {
    color: #fff
}
.btn-twitter:active, .btn-twitter:hover {
    background: #0087bd;
    color: #fff
}
.btn-facebook {
    background: #3b5998;
    border-radius: 0;
    color: #fff
}
.btn-facebook:link, .btn-facebook:visited {
    color: #fff
}
.btn-facebook:active, .btn-facebook:hover {
    background: #30477a;
    color: #fff
}
.btn-googleplus {
    background: #e93f2e;
    border-radius: 0;
    color: #fff
}
.btn-googleplus:link, .btn-googleplus:visited {
    color: #fff
}
.btn-googleplus:active, .btn-googleplus:hover {
    background: #ba3225;
    color: #fff
}
.btn-stumbleupon {
    background: #f74425;
    border-radius: 0;
    color: #fff
}
.btn-stumbleupon:link, .btn-stumbleupon:visited {
    color: #fff
}
.btn-stumbleupon:active, .btn-stumbleupon:hover {
    background: #c7371e;
    color: #fff
}
